<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

<!-- 
********************
KCPA LOG APPENDERS
********************
-->

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value= "[%d][%p][%C-%M(%L)]: %m\n" />
        </layout>
    </appender>

<!-- the audit.log file will be scanned by OVO for triggered errors -->
    <appender name="auditAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/share/tomcat5/logs/audit.log"/>
        <param name="DatePattern" value="'.'dd-MMM-yyyy" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%x %F %L [%d{DDD MMM dd HH:mm:ss yyyy}] %p %m%n" />
        </layout>
    </appender>

<!-- the application.log file will be scanned by OVO for application errors -->
    <appender name="applicationAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/share/tomcat5/logs/application.log"/>
        <param name="DatePattern" value="'.'dd-MMM-yyyy" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%x %F %L [%d{DDD MMM dd HH:mm:ss yyyy}] %p %m%n" />
        </layout>
    </appender>

<!-- this file will NOT be alarmed and can be cleared at any time -->
    <appender name="debugAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/share/tomcat5/logs/debug.log"/>
        <param name="DatePattern" value="'.'dd-MMM-yyyy" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%x %F %L [%d{DDD MMM dd HH:mm:ss yyyy}] %p %m%n" />
        </layout>
    </appender>

<!-- this file will NOT be alarmed and is used for QA only until a final decision has been made on email exception reporting -->
    <appender name="emailReportAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/usr/share/tomcat5/logs/emailExceptionReport.log"/>
        <param name="DatePattern" value="'.'dd-MMM-yyyy" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%x %F %L [%d{DDD MMM dd HH:mm:ss yyyy}] %p %m%n" />
        </layout>
    </appender>

<!-- 
*************
DEBUG LOGGING
*************
-->

<!-- 
***************
geopage PACKAGES
***************
-->


    <logger name="com.ace.geopage.service" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="debugAppender"/>
    </logger>


    <logger name="com.ace.geopage.workflow" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="debugAppender"/>
    </logger>


    <logger name="com.ace.geopage.dao" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="debugAppender"/>
    </logger>





<!-- 
**************************
ace DEPENDENCY PACKAGES
**************************
-->

<!--
    <logger name="org.hibernate.SQL" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="debugAppender"/>
    </logger>
-->





    
<!-- 
**********************************************
OPEN SOURCE (Non-ACE) PACKAGES: 
**********************************************
-->

    <logger name="org.apache" additivity="false"> <!-- apache libraries -->
        <level value="WARN"/>

        <appender-ref ref="applicationAppender"/>
        <!--appender-ref ref="debugAppender"/-->
    </logger>
        <logger name="org.hibernate.SQL" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="debugAppender"/>
    </logger>
    
    <logger name="org.hibernate" additivity="false"> <!-- Hibernate 3 -->
        <level value="WARN"/>

        <appender-ref ref="applicationAppender"/>
        <!--appender-ref ref="debugAppender"/-->
    </logger>
    
    <logger name="org.springframework" additivity="false"> <!-- Spring -->
        <level value="WARN"/>

        <appender-ref ref="applicationAppender"/>
        <!--appender-ref ref="debugAppender"/-->
    </logger>

    <logger name="org.jdom" additivity="false"> <!-- JDom -->
        <level value="WARN"/>

        <appender-ref ref="applicationAppender"/>
        <!--appender-ref ref="debugAppender"/-->
    </logger>

    <logger name="org.exolab" additivity="false"> <!-- Castor -->
        <level value="WARN"/>
  
        <appender-ref ref="applicationAppender"/>
        <!--appender-ref ref="debugAppender"/-->
    </logger>

<!-- used by the monitor application for application events -->
    <logger name="APPLICATION">
        <level value="INFO"/>
        <appender-ref ref="applicationAppender"/>
    </logger>

<!-- 
*************
AUDIT LOGGING
*************
-->

<!-- used by the monitor application for monitor events -->
    <logger name="MONITOR">
        <level value="INFO"/>
        <appender-ref ref="auditAppender"/>
    </logger>

<!-- Define the root logger- i.e. all loggers that are  -->
<!-- not covered by the list above will default to this  -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="auditAppender" />
    </root>

</log4j:configuration>
