<html>
<body>
This is to inform you that you have been granted access to the following unit&#39;s continuity plan:
<br/><br/>
${plan.acronymPlusName}
<br/><br/>
The person who requested that you have access is ${planner.fullName}
<br/><br/>
To access this plan, open the ${systemName} continuity planning tool <a href="${krURL}">by clicking here</a>.  
<br/><br/>
For questions or assistance, please contact any of the following: 
<br/>
<br/>
<ul>
#foreach ( $moderator in $moderators )
    <li>$moderator.emailRegular</li>
#end
</ul>
Continuity planning prepares us to continue our mission despite any disruptive events.  Thanks for your engagement!
<br/><br/>
<hr/>
This is an auto-email from the ${systemName} continuity planning tool.
</body>
</html>

