<html>
<body>
A request to be reminded of your login name or password has been received by the ${systemName} continuity planning tool.  If this request did not come from you, please notify all of the following: 
<br/>
<ul>
#foreach ( $moderator in $moderators )
    <li>$moderator.emailRegular</li>
#end
</ul>
<br/>
Your login name remains as before: ${authId} 
<br/><br/>
Your new password is: ${password}
<br/><br/>
Your former password has been deactivated.  You may change your password by clicking &ldquo;My Profile&rdquo; in the Handylinks list on any screen.
<br/><br/>
${systemName} is at ${krURL} 
<br/><br/>
Be Ready!
<br/><br/>
<br/><br/>
<hr/>
This is an auto-email from the ${systemName} continuity planning tool.
</body>
</html>
