TD.DateTD { 
	width:110px;
}

INPUT.FileDownloadClass
{ 
    width: 365px;
}

INPUT.FileDownload2Class
{ 
    width: 445px;
}


INPUT.StartDateClass
{ 
    width: 78px;
}

INPUT.EndDateClass
{ 
    width: 78px; 
}

INPUT.ButtonClass
{ 
    width: 0;
    overflow:visible;
	padding: 0.2em .3em;

	
}
INPUT.ButtonClass[class] { /*ie ignores [class]*/
    width: auto;
}
 

INPUT.DomainClass
{
	width:157px;
}


INPUT.CurLocationNameClass
{
	width: 350px;

}

INPUT.CurRoleNameClass
{
	width: 150px;

}


INPUT.OrgLocationNameClass
{
	width: 350px;

}

INPUT.OrgRoleNameClass
{
	width: 150px;

}




INPUT.ShiftNameClass
{
	width: 470px;
	
	
}

INPUT.SkillNameClass
{
	width: 510px;	
	
}

INPUT.InstitutionClass
{
	width: 169px;	
	
}

INPUT.OrderClass
{
	width: 25px;	
	
}


INPUT.UserFirstNameClass
{
	width: 85px;	
	
}

INPUT.UserLastNameClass
{
	width: 105px;	
	
}


INPUT.AccountFirstNameClass
{
	width: 120px;
}

INPUT.AccountLastNameClass
{
	width: 178px;
}

INPUT.AccountInstitutionClass
{
	width: 260px;	
	
}

INPUT.AccountDepartmentNameClass
{
	width: 535px;	
	
}

INPUT.AccountEMailClass
{
	width: 260px;	
	
}


INPUT.AccountPasswordClass
{
	width: 120px;
	margin-right: 6px;	
	
}



INPUT.AccountAuthIDClass
{
	width: 260px;	
	
}



INPUT.AccountPhoneClass
{
	width: 115px;	
	
}

INPUT.AccountTitleClass
{
	width: 535px;
}


INPUT.AccountDirectoryIDClass
{
	width: 535px;
}


INPUT.AcronymClass
{
	width: 100px;	
	
}

INPUT.AcronymFullNameClass
{
	width: 410px;	
	
}




INPUT.DependencyClass
{
	width: 335px;	
	
}


INPUT.PlannerCategoryItemClass
{
	width: 480px;	
	
}

INPUT.AppNameClass
{
	width: 500px;	
	
}


INPUT.UtilityNameClass
{
	width: 500px;	
	
}


INPUT.StaffCategoryClass
{
	width: 480px;	
	
}

INPUT.DepartmentTypeClass
{
	width: 510px;	
	
}



INPUT.MajorDivisionNameClass
{
	width: 580px;	
	
}

INPUT.InstructionalDepartmentNameClass
{
	width: 580px;	
	
}


INPUT.BuildingCommonNameClass
{
	width: 344px;	
	
}

INPUT.BuildingNameClass
{
	width: 344px;	
	
}

INPUT.CAANClass
{
	width: 134px;	
	
}


INPUT.MyInstitutionClass
{
	width: 169px;	
	
}


INPUT.MyDomainDescriptionClass
{
	width:156px;
}


INPUT.MyEmailClass
{
	width:250px;
}

INPUT.MyPhoneClass
{
	width:115px;
}

INPUT.MyFaxClass
{
	width:115px;
}



TEXTAREA.ContactClass
{
	width:640px;
}

TEXTAREA.BuildingAddressClass
{
	width:640px;
}



TEXTAREA.SkillDescriptionClass
{
	width:640px;
}


TEXTAREA.ReferenceClass
{
	width:640px;
}

TEXTAREA.QuestionClass
{
	width:640px;
}

TEXTAREA.AnswerClass
{
	width:640px;
}


TEXTAREA.ReviewItemClass
{
	width:640px;
}


TEXTAREA.ThingsToKnowItemClass
{
	width:640px;
}


TEXTAREA.TipsClass
{
	width:640px;
}

TEXTAREA.NewsClass
{
	width:640px;
}

TEXTAREA.ErrorDetailClass
{
	width:644px; 
	text-align: left ;
	
}


SELECT.NewLocationNameSelectClass
{
	width: 355px;

}

SELECT.NewRoleNameSelectClass
{
	width: 155px;

}



SELECT.InstitutionAccessSelectClass
{
	width:136px;
}


SELECT.InstitutionDomainSelectClass
{
	width:163px;
}



SELECT.AccountAccessSelectClass
{
	width:65px;
}


SELECT.InstitutionSelectClass
{
	width:260px;
}

SELECT.AccountRoleSelectClass
{
	width:112px;
}

SELECT.LocationSelectClass
{
	width:200px;
}

SELECT.DependencyTypeSelectClass
{
	width:95px;
}

SELECT.SourcePlanSelectClass
{
	width:272px;
}

SELECT.TargetPlanSelectClass
{
	width:272px;
}

SELECT.FunctionSelectClass
{
	width:640px;
}


SELECT.QuickLinksClass
{
	width:230px;

}

SELECT.OwnershipSelectClass
{
	width:107px;
}

SELECT.SourceBuildingSelectClass
{
	width:185px; 
	font-family:"Arial";
	
}

SELECT.TargetBuildingSelectClass
{
	width:185px;
	font-family: "Arial" 
}


SELECT.MyInstitutionAccessSelectClass
{
	width:134px;
}

SELECT.PlanSelectClass
{
	width:285px;
}

SELECT.PlannerLogCategorySelectClass
{
	width:260px;
}

SELECT.BigPlanSelectClass
{
	width:330px;
}

SPAN.ShowInfoClass
{
	color:#FF0000 ;
}


SPAN.ErrorMessage 
{  
	color:#FF0000 ;
	width: 640px;
	height: 12px;
}


SPAN.myLink { 
	text-decoration:underline;
	color:#8000FF;
	cursor: pointer;
	color:
}

SPAN.myLinkOver { 
	text-decoration:underline;
	color:#999999;
	cursor: pointer;
}



SPAN.MessageDIVClass
{
	display:inline ;
	height: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	color:#FF0000 ;
	font-weight:bold ;

}


SPAN.HiddenControl
{   
	display: none ;   
}


TR.HiddenControl
{   
	display: none ;   
}



SPAN.HiddenMessageClass
{   
	display: none ;   
	font-weight:bold ;
	color:#FF0000 ;
}

SPAN.NoWrap
{ 
	white-space:nowrap;
}


SPAN.myGridClass UL {
	padding-left: 24px;
	margin-bottom:8px;
}


SPAN.myGridClass OL{
	padding-left: 20px;
	margin-bottom:8px;
}

SPAN.myGridClass OL LI{
	list-style:decimal ;
	list-style-position:inside ;
	padding:0px;
}

SPAN.myGridClass UL LI{
	list-style:disk ;
	list-style-position:inside ;
	padding:0px;
}


DIV.ShowLdapSearch 
{ 
	width: 595px;
}



DIV.NoWrap
{ 
	white-space:nowrap;
}

DIV.FormDivClass 
{ 
	width: 644px;
}


DIV.AdminSite
{ 
	width: 644px;
}


DIV.MyButtonsDivClass 
{ 
	width: 644px;
	padding: 3px;
	height: 26px;
}

DIV.FloatLeft
{ 
	float:left ;
}

DIV.FloatRight
{ 
	float:right ;
}


IMG.NavMiddleImagesRegClass 
{
	border:none ;
	vertical-align: middle;
	padding-bottom: 4px;
	
}


IMG.NavMiddleImagesRegClass2
{
	border:none ;
	vertical-align: middle;
	padding-left: 2px;
}



IMG.NavMiddleImagesClass 
{
	border:none ;
	vertical-align: middle;
	cursor:pointer ;
	padding-bottom: 6px;
	
}


IMG.NavTopImagesClass 
{
	border:none ;
	vertical-align: top;
	cursor:pointer ;
	padding-bottom: 10px;
	
}



IMG.NavBottomImagesClass 
{
	border:none ;
	vertical-align: bottom;
	cursor:pointer ;
}



SELECT.ErrorDetailClass 
{
	width: 480px ;
}

DIV.x-grid-cell-text 
{
	white-space:normal;
} 


A.ClickSelect 
{ color:blue ; 
text-decoration:underline ;

	cursor:pointer ;
}


.ReadOnly {
	background-color:#DDDDDD ;
	border-style: ridge ;
	
}

.AllignLeft {
	text-align:left ;
}

.AllignRight {
	text-align:right ;
}


.AllignCenter {
	text-align:center
}

 
.StandardWidth {
	 width: 644px;
 } 
	
TABLE.UserSelectTable {

}

TR.TableHeader { 
	background-color:#80FFFF;
	border:none;
}


HR.AdminHR {
	width: 100%;
}


SPAN.ShowSpanClass {
	display:inline ;
}

SPAN.HideSpanClass {
	display:none ;
}

.AttentionClass
{  
	color:red ; 
	font-weight:bold ;
}

 .AttentionClassNotBold
{  
	color:red ; 
}
/*These are styles for only the local admin reports pages of Admin section -kb*/

#mainreport {
margin: 30px 0 20px 0;

}

#mainreport th {	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #999;
	border-top: 1px solid #fff;
	letter-spacing: 2px;
	text-align: left;
	padding: 6px 6px 6px 12px;
	
}

#mainreport td {
	border-right-style:solid;
	border-right-width: 1px;
	border-right-color:#999;
	border-bottom: 1px solid #999;
	background: #fff;
	padding: 6px 6px 6px 12px;
	
}

#mainreport td.lftborder {
	border-left: 1px solid #999;
}

